.divino {
  background: url('title-photo-2-cropped.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: absolute;
  height: 80%;
  width: 100%;
}

p {
  color: rgb(66, 66, 66);
}

.landing {
  margin-top: 120px;
  padding: 0px;
  border-radius: 5px;
}

.card-grey {
  background-color: rgb(242,242,242);
  padding: 0px;
}

#bg-blue {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
}

.font-title {
  font-size: 56px;
  font-style: light;
  color: rgb(66, 66, 66);
}

#label-white {
  color:  rgb(66, 66, 66);
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  font-variant: small-caps;
  font-weight: bold;
}

