<div class="divino">
<div class="container landing">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5 card-grey">
      <h2  class="display-4 font-title">Want to surf like a <mark id="bg-blue">local</mark>?</h2>
      <p class="lead">Rent their board!</p>
      <div style="height: 0px"></div>
        <div style="height: 120px">
          <%= simple_form_for @surfboard, url: surfboards_path, method: :get  do |f| %>
          <mark id="label-white"><%= f.input :location, label: "Where are you headed?", class: "location" %></mark>
          <%= f.button :submit, value: "Find your board!", class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
</div>

<footer class="page-footer">
  <p> SurfMyTurf ©2020 </p>
</footer>