<h1>Discover <%= @surfboard.name %></h1>

<h3><%= @surfboard.category %></h3>

<img src="app/assets/images/surfboard.jpg" alt="surfboard">

<p> <%= @surfboard.description %> </p>

<%= link_to "Book now", new_surfboard_booking_path(@surfboard) %>





