.page-footer {
  background-color: rgb(242,242,242);
  left: 0;
  bottom: 0;
  position: fixed;
  height: 36px;
  width: 100%;
  overflow: hidden;
}

.page-footer p {
  color: rgb(66, 66, 66);
  margin-top: 8px;
  text-align: center;
}
