.container-form {
  margin: 16px;
  width: auto;
  padding-top: 26px;

}

.header-booking-form {
  font-size: 34px;
  margin: 16px;
  text-align: center;
  padding-top: 16px;

}

#button {
  background-color: #12ADEA;
  border: none;
}
